body{
	margin:0;
}
.container{
	width:100%;
	margin:0 auto;
	height:100vh;

}
.header-box{
	height:768px;
	background:#192314;
	overflow:hidden;
}
.header-pic-box{
	width:900px;
	height:545px;
	background:url(beosound-shape.jpg);
	background-repeat: no-repeat;  
 	background-size: 100% 100%;
 	float:right;
}
.head-text-box{
	width:512px;
	height:208px;
	position:absolute;
	left:100px;
	top:135px;
	color:#fff;
}
.description{
	line-height:24px;
	margin-bottom: 10px;
}
.title{
	font-weight:normal;
	letter-spacing:3.75px;
	font-size:44px;
	line-height: 39px;
	margin-top:15px;
	margin-bottom:24px5
}
.small-desc{
	font-size:13px;
	line-height:21px;
	margin-bottom: 20px;
}
.button{
	padding-top: 12px;
	padding-left: 50px;
	float: left;
	display:block;
	width:240px;
	height:28px;
	font-size:14px;
	background-color: #30392c;
	-webkit-transition: all .5s ease-in;  
    -moz-transition: all .5s ease-in;  
    transition: all .5s ease-in;  
    color:#fff;
}
.button:hover{
	background-color: #ffffff;
	color: black;
}
.median-box{
	width:1366px;
	height:536px;
	top:768px;
	background:url(img-bg-1350.jpg);
}
.median-pic{
	top:610px;
	left:217px;
	width:927px;
	height:465px;
	position:absolute;

}
.pic1{
	width:309px;
	height:465px;
	background:url(beovision-eclipse-frontpage-brass-smoked-oak-2.jpg);
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
}
.pic2{
	width:309px;
	height:465px;
	background:url(beoplay-p6-8.jpg);
	float:left;
	background-size: contain;
		background-repeat: no-repeat;
}
.pic3{
	width:309px;
	height:465px;
	background:url(earset-subtile1.jpg);
	float:left;
	background-size: contain;
		background-repeat: no-repeat;
}
.median-text-box1{
	color:#fff;
}
.title1{
	top:35px;
	margin-left:41px;
	width:136px;
	height:9px;
	color:#fff;
}
.title2{
	top:35px;
	margin-left:41px;
	width:136px;
	height:9px;
	color:#fff;
}
.title3{
	top:35px;
	margin-left:41px;
	width:136px;
	height:9px;
	color:#fff;
}