body{
	margin:0;
}
.container{
	width:100%;
	margin:0 auto;
	height:100vh;

}
.header-box{
	height:768px;
	background:#192314;
	overflow:hidden;
}
.header-pic-box{
	width:900px;
	height:545px;
	background:url(beosound-shape.jpg);
	background-repeat: no-repeat;  
 	background-size: 100% 100%;
 	float:right;
}
.head-text-box{
	width:512px;
	height:208px;
	position:absolute;
	left:100px;
	top:135px;
	color:#fff;
}
.description{
	line-height:24px;
	margin-bottom: 10px;
}
.title{
	font-weight:normal;
	letter-spacing:3.75px;
	font-size:44px;
	line-height: 39px;
	margin-top:15px;
	margin-bottom:24px;
}
.small-desc{
	font-size:13px;
	line-height:21px;
	margin-bottom: 20px;
}
.button{
	padding-top: 12px;
	padding-left: 50px;
	float: left;
	display:block;
	width:240px;
	height:28px;
	font-size:14px;
	background-color: #30392c;
	-webkit-transition: all .5s ease-in;  
    -moz-transition: all .5s ease-in;  
    transition: all .5s ease-in;  
    color:#fff;
}
.button:hover{
	background-color: #ffffff;
	color: black;
}
.median-box{
	width:100%;
	height:536px;
	top:768px;
	background:url(img-bg-1350.jpg);
	margin:0;
}
.median-pic{
	top:610px;
	left:217px;
	width:927px;
	height:465px;
	position:absolute;

}
.pic1{
	width:309px;
	height:465px;
	background:url(beovision-eclipse-frontpage-brass-smoked-oak-2.jpg);
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
}
.pic2{
	width:309px;
	height:465px;
	background:url(beoplay-p6-8.jpg);
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
}
.pic3{
	width:309px;
	height:465px;
	background:url(earset-subtile1.jpg);
	float:left;
	background-size: contain;
	background-repeat: no-repeat;
}
.median-text-box1{
	color:#fff;
}
.title1{
	top:35px;
	margin-left:41px;
	width:136px;
	height:9px;
	color:#fff;
}
.title2{
	top:35px;
	margin-left:41px;
	width:136px;
	height:9px;
	color:#fff;
}
.title3{
	top:35px;
	margin-left:41px;
	width:136px;
	height:9px;
	color:#fff;
}
.top{
	width:100%;
	height:38px;
	position:absolute;
	display:flex;
	justify-content: space-between;
	color:#fff;
}
.left{
	padding-top: 23px;
	padding-left: 72px;
	box-sizing: border-box;
	width:98px;
	height:100%;
	background:url(spot.png);
	background-repeat: no-repeat;
	background-position: 26px 23px;
	font-size: 12px;
}
.center{
	width:195px;
	height:100%;
	padding-top: 20px;
	box-sizing: border-box;
	font-size: 18px;
	text-align: center;
}
.right{
	padding-top: 23px;
	padding-right: 49px;
	box-sizing: border-box;
	width:98px;
	height:100%;
	background:url(line.png);
	background-repeat: no-repeat;
	background-position: 44px 23px;
	font-size: 12px;
}
.category{
	text-align: center;
	width:100%;
	height:372px;
}
.space{
	height:119px;
}
.category,h6{
	margin-top: 0;
}
.catory,h1{
	font-size: 47px;
	font-weight: 400;
	margin: 0;
}
.product-pic{
	width:921px;
	height:410px;
	background-color: yellow;
	margin:auto;

}
.pro-pic1{
	width:307px;
	height:205px;
	background:url(pic1.jpg);
	background-size: contain;
	float:left;
}
.pro-pic2{
	width:307px;
	height:205px;
	background:url(pic2.jpg);
	background-size: contain;
	float:left;
}.pro-pic3{
	width:307px;
	height:205px;
	background:url(pic3.jpg);
	background-size: contain;
	float:left;
}.pro-pic4{
	width:307px;
	height:205px;
	background:url(pic4.jpg);
	background-size: contain;
	float:left;
}.pro-pic5{
	width:307px;
	height:205px;
	background:url(pic5.jpg);
	background-size: contain;
	float:left;
}.pro-pic6{
	width:307px;
	height:205px;
	background:url(pic6.jpg);
	background-size: contain;
	float:left;
}
.story{
	text-align: center;
	width:100%;
	height:372px;
}
.space2{
	height:119px;
}
.story-pic{
	width:921px;
	height:410px;
	/*background-color: yellow;/*/
	margin:auto;
}
.story-pic1{
	width:297px;
	height:205px;
	background:url(Wide-image-2.jpg);
	background-size: contain;
	float:left;
}
.story-pic2{
	width:200px;
	height:205px;
	background:url(the-krane.jpg);
	background-size: contain;
	float:left;
}
.story-pic3{
	width:424px;
	height:205px;
	background:url(harmonies-story.jpg);
	background-size: contain;
	float:left;
}

